<notifier-container></notifier-container>
<mat-card class="dialog-card">
  <mat-card-header style="justify-content: center;">
    <mat-card-title class="dialog-title">Edit Password
      <mat-divider style="border: 1px solid;"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="editForm" class="dialog-form" (ngSubmit)="onSubmit()">

      <div *ngIf="isLoading" class="loader-overlay">
        <mat-spinner color="warn"></mat-spinner>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput minlength="8" type="password" value="********" formControlName="oldPassword" placeholder="Old Password"
        aria-label="Old Password">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput minlength="8" type="password" value="********" formControlName="newPassword" placeholder="New Password"
        aria-label="New Password">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput minlength="8" type="password" value="********" formControlName="confirmPassword" placeholder="Confirm Password"
        aria-label="Confirm Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="justify-content: flex-end;">
    <button color="success" mat-dialog-close class="btn btn-outline-success">Cancel</button>
    <button color="success" class="btn btn-success mL-10" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>
