
.add_product {
  position: absolute;
  right: 20px;
  border-radius: 100px;
  width: 44px;
  color: #198754;
  background: #fff;
  border: 2px solid;
  height: 42px;
  top: 10px;
}

.find-btn-pos {
  top: -15px;
  position: relative;
  width: 100px;
  height: 55px;
}

.page-limit-pos {
  width: 135px;
  top: -15px;
  position: relative;
}

.page-pos {
  display: flex;
  margin-left: 20px;
}

.grey-color{
  color: grey;
}
